body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

img {
  -webkit-user-drag: none;
}

.borda {
    border: 5px solid white;
    border-radius: 10px;
}

#log {
  font-size: 20px !important;
}

#game {
    margin-left: 50vh;
    width: 800px;
    height: 600px;
}

#player, #playerBase {
    width: 100px;
    height: 80px;
    display: relative;
    position: fixed;
    z-index: 10;
}

.playerBase {
  display: none;
  width: 100px;
  height: 80px;
  display: relative;
  position: relative;
  z-index: 10;
}

.rainbow-image {
  position: relative;
  display: inline-block;
}
.rainbow-image img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 10;
}
.rainbow-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ff0000, #ffaa00, #fff000, #00ff00, #0000ff, #ff00ff);
  background-size: 200% 100%;
  animation: rainbow 3s linear infinite;
  mix-blend-mode: screen;
  /* opacity: 0.5; */
}

.changeColor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white !important;
  background-size: 100% 100%;
  mix-blend-mode: screen;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}